<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>S & K Cleaners</title>
        
        <link href="styles.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <!--<link href="static/cursive-font/stylesheet.css" rel="stylesheet">-->
    </head>

    <div id="websiteBody" class="inviteCard" style="display:block;">

      <body>
        <div class="title" style="margin-bottom: 0%;">
          <h1 style="font-size:200%;">S & K Cleaners</h1>
          <br>
          <h3>Dry Cleaning & 
            <br>Tailoring Services</h3>
          <br>
          <h6>2833 O'Donnell Street
          <br>Baltimore, MD 21224</h6>
          <a href="https://www.google.com/maps/place/S+%26+K+Cleaners/@39.2798536,-76.5758309,20.25z/data=!4m6!3m5!1s0x89c8038bbb15c4e5:0xeabb7b0cbd750b34!8m2!3d39.27989!4d-76.575691!16s%2Fg%2F1thqbtv6?entry=ttu"><h6 style="font-size: 80%;">Open in Google Maps</h6></a>
          <hr>
        </div>

        <div class="card" style="padding: 2%; margin-top: 2%;">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="max-height: 500px;">
              <div class="carousel-item active">
                <img src="Welcome Desk.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="interior.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="exterior.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        
        <div class="card">
          <p>Full service dry cleaning & tailoring store in the heart of Baltimore.
          <br>See below for what to expect with your experience!
          </p>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h4 style="color: grey;">Store Hours</h4>
            <dl class="row" style="margin-left: 15%;">
              <dt class="col-sm-5">7:00 A.M. to 7:00 P.M.</dt>
              <dd class="col-sm-7">Monday - Friday</dd>
            
              <dt class="col-sm-5">9:00 A.M. TO 5:00 P.M.</dt>
              <dd class="col-sm-7">Saturday</dd>

              <dt class="col-sm-5">CLOSED</dt>
              <dd class="col-sm-7">Sunday</dd>
            </dl>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 style="color: grey;">Services and Pricing</h4>
            <p style="font-style: italic; font-size: 75%; padding-bottom: 0%; margin-bottom: 0%;">D.C. = Dry Clean</p>
            <table class="table table-sm table-hover">
              <thead>
                <tr id="0">
                  <th scope="col">Service</th>
                  <th scope="col">Description</th>
                  <th scope="col">Cost ($)</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr id="1">
                  <th scope="row">1</th>
                  <td class="row-data">D.C. Shirt</td>
                  <td class="row-data">10</td>
                  <td class="row-data">
                    <button id="button+" value="1" onclick=buttonClick(0) style="display:inline">+</button>
                    <p id="v1" class="quan-data" style="display:inline">0</p>
                    <button id="button-" value="-1" onclick=buttonClick(1) style="display:inline">-</button>
                  </td>
                </tr>
                <tr id="2">
                  <th scope="row">2</th>
                  <td class="row-data">D.C. Pants</td>
                  <td class="row-data">5</td>
                  <td class="row-data">
                    <button id="button+" value="1" onclick=buttonClick(0) style="display:inline">+</button>
                    <p id="v2" class="quan-data" style="display:inline">0</p>
                    <button id="button-" value="-1" onclick=buttonClick(1) style="display:inline">-</button>
                  </td>
                </tr>
                <tr id="3">
                  <th scope="row">3</th>
                  <td class="row-data">Hem Pants</td>
                  <td class="row-data">2</td>
                  <td class="row-data">
                    <button id="button+" value="1" onclick=buttonClick(0) style="display:inline">+</button>
                    <p id="v3" class="quan-data" style="display:inline">0</p>
                    <button id="button-" value="-1" onclick=buttonClick(1) style="display:inline">-</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p style="display: inline;">Total: </p>
            <p style="display: inline" id="total">0</p>
          </div>
        </div>

        <div class="card">
          <p>All walk-ins are accepted, no appointments required.
          <br>Please call if any questions or concerns.
          </p>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 style="color: grey;">Frequently Asked Questions</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p style="margin-bottom: 0%; padding-bottom: 0%;">Is there a changing room in the store?</p>
                <p style="font-size: 75%; margin-top: 0%; padding-top: 0%;">Yes. You may change in our store in complete privacy.</p>
              </li>
              <li class="list-group-item">
                <p style="margin-bottom: 0%; padding-bottom: 0%;">How many outfits can I bring at once?</p>
                <p style="font-size: 75%; margin-top: 0%; padding-top: 0%;">As many as you like. Be aware, more items means longer turn-around time</p>
              </li>
              <li class="list-group-item">
                <p style="margin-bottom: 0%; padding-bottom: 0%;">What is the turn-around time like?</p>
                <p style="font-size: 75%; margin-top: 0%; padding-top: 0%;">Generally expect a week unless customer needs it sooner.</p>
              </li>
              <li class="list-group-item">
                <p style="margin-bottom: 0%; padding-bottom: 0%;">What payment methods are accepted here?</p>
                <p style="font-size: 75%; margin-top: 0%; padding-top: 0%;">We accept cash, check, debit, and all credit cards.</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 style="color: grey;">Submit a Question</h4>

          </div>
        </div>

      </body>

    </div>
    <footer>
        <br><br>
        <p style="text-align:center";>
          S & K Cleaners<br>
          2833 O'Donnel Street Baltimore<br>
          Phone: 410-276-0673
        </p>
        <br><br>
    </footer>

<script src="script.js"></script>
  
</html>