*{
  /*font-family: 'apertoregular', Arial, sans-serif;*/
  font-family: handlee;
  font-weight:normal;
  font-style:normal;
  /*font-size: 20px;*/
  color: gray;
}

body{
  padding-top: 5%;
  padding-left:3%;
  padding-right: 3%;
  background-image: url('sage-green-leaves-pattern-aafl475uzmm1hzbz.jpg');
  background: size 100%;
  background-repeat:repeat;
}
div{
  text-align: center;
  background-color: #fafafaa6;
  box-shadow: 2px 2px 2px rgb(196, 191, 191); 
  /* background-image: url('images/gray-texture.jpg'); */
  overflow: hidden;
}
.inviteCard{
  box-shadow:
  inset 0 -2em 2em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.2em 0.2em 1em rgba(0, 0, 0, 0.3);
  background-color: #e2dfdf6b;
}

.title{
  margin-bottom: 5%;
  background-color: #e2dfdf6b;
}
h4{
  text-decoration: underline;
  color: grey;
}
h6{
  font-style: italic;
}
.card{
  margin-top: 2%; 
  margin-bottom: 2%; 
  margin-left: 2%; 
  margin-right: 2%;
}
th{
  font-size: 80%;
  width: 5%;
}
td{
  font-size: 70%;
}
button{
  width: 15%;
  height: 15%;
  border: 1px solid;
}
dl{
  font-size: 90%;
}
p{
  font-size: 90%;
}

@media screen and (max-width: 900px) {
  .body{
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  dl{
    font-size: 75%;
  }
}

@media screen and (max-width: 475px) {
  .card{
    margin-left: 4% !important;
    margin-right: 4% !important;
    width: 92% !important;
  }
}

@media screen and (max-width: 850px) {
  .form-group{
    margin-left: 25% !important;
    margin-right: 25% !important;
    width: 50% !important;
  }
}

@media screen and (min-width: 1200px) {
  .inviteCard{
    width: 1128px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@font-face{
  font-family: courgetteFont;
  src: url('Courgette-Regular.ttf');
}
@font-face{
  font-family: handlee;
  src: url('Handlee-Regular.ttf');
}